<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <title>OpenEval | Home</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="css/style.css">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>

  <div class="container-fluid">

    <h3>Surveys for {{{message.0.course}}}</h3>

    <!-- {{#each message}}
      <li><button class={{{this._id}}}>{{{this.name}}}</button></li>
    {{/each}} -->

    <!-- <form action="/view-results" method="post">
      {{#each message}}
        <input type="radio" name="surveyID" value="{{this._id}}"> {{{this.name}}}<br>
      {{/each}}
      <input type="submit" value="View this survey's results">
    </form> -->

    <div class="jumbotron">
      <form action="/view-results" method="post">
        {{#each message}}
          <!-- <input type="radio" name="surveyID" value="{{this._id}}"> {{{this.name}}}<br> -->
          <input class="btn btn-lg btn-block" type="submit" name="surveyID" value="{{this._id}}: {{{this.name}}}">
        {{/each}}
        <!-- <input type="submit" value="Complete this survey"> -->
      </form>
    </div>

    <br>

    <button onclick="toggleHidden()" class="btn btn-lg btn-block">Create new survey</button>
    <div id="survey-details" style="display: none;">
      <form action="/new-survey" method="post" style="margin: auto;">
        <table>
          <tr>
            <td>Start Time</td>
            <td><input type="time" name="starttime"></td>
          </tr>
          <tr>
            <td>End Time</td>
            <td><input type="time" name="endtime"></td>
          </tr>
          <tr>
            <td>Survey Name</td>
            <td><input type="text" name="surveyname"></td>
          </tr>
          <tr>
            <td>Course Name</td>
            <td><input type="text" name="coursename"></td>
          </tr>
          <tr>
            <td>Semester</td>
            <td><input type="text" name="semester"></td>
          </tr>
          <tr>
            <td>Professor ID</td>
            <td><input type="text" name="professorID"></td>
          </tr>
        </table>
<!--         Start Time<input type="time" name="starttime"><br>
        End Time<input type="time" name="endtime"><br>
        Survey Name<input type="text" name="surveyname"><br>
        Course Name<input type="text" name="coursename"><br>
        Semester<input type="text" name="semester"><br>
        Professor ID<input type="text" name="professorID"><br> -->
        <input type="submit" name="createSurvey" value="Release Survey" class="btn btn-lg btn-block">
      </form>
    </div>

<!--     <footer>
      <p>OpenEval | Georgia Tech Junior Design | Fall 2018</p>
    </footer> -->

  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script type="text/javascript" src="../js/active-surveys.js"></script>

</body>

</html>