<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <title>OpenEval | Home</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="css/style.css">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>

  <div class="container-fluid">
  <div class="jumbotron">
    <form method="post" action="/submit-survey">
      {{#each message}}
        <p>{{{this._id}}}</p>
        <table>
          <tr>
            <td>Survey ID</td>
            <td><input type="text" name="surveyID"></td>
          </tr>
          <tr>
            <td>Georgia Tech ID</td>
            <td><input type="text" name="studentID"></td>
          </tr>
          <tr>
            <td>Survey Type</td>
            <td>{{{this.type}}}</td>
          </tr>
        </table>
        <hr>
        <!-- Survey ID <input type="text" name="surveyID"><br>
        GT ID <input type="text" name="studentID">
        <p>Survey Type: {{{this.type}}}</p> -->
        <ol>
        {{#each this.questions}}
          <li>{{{this.question}}}</li>
          {{#ifMC this}}
            {{#ifFirst @index}}
              {{#each this.options}}
                <input type="radio" name="pace" id="{{../this.id}} {{this}}" value="{{this}}">{{{this}}}<br>
              {{/each}}
            {{else}}
              {{#each this.options}}
                <input type="radio" name="reachable" id="{{../this.id}} {{this}}" value="{{this}}">{{{this}}}<br>
            {{/each}}
            {{/ifFirst}}
          {{else}}
            {{#ifThird @index}}
              <input type="text" id="{{this.id}}" name="studentmore">
            {{/ifThird}}
            {{#ifFourth @index}}
              <input type="text" id="{{this.id}}" name="studentless">
            {{/ifFourth}}
            {{#ifFifth @index}}
              <input type="text" id="{{this.id}}" name="studentsame">
            {{/ifFifth}}
            {{#ifSixth @index}}
              <input type="text" id="{{this.id}}" name="professormore">
            {{/ifSixth}}
            {{#ifSeventh @index}}
              <input type="text" id="{{this.id}}" name="professorless">
            {{/ifSeventh}}
            {{#ifEighth @index}}
              <input type="text" id="{{this.id}}" name="professorsame">
            {{/ifEighth}}
            {{#ifNinth @index}}
              <input type="text" id="{{this.id}}" name="comments">
            {{/ifNinth}}
          {{/ifMC}}
        {{/each}}
        </ol>
      {{/each}}
      <input type="submit" value="Submit survey">
    </form>

    <!-- <form>
      <p>The pace of this course is:</p>
      <input type="radio" name="pace" value="slow">Too slow<br>
      <input type="radio" name="pace" value="right">About right<br>
      <input type="radio" name="pace" value="fast">Too fast

      <p>The instructor and/or TA are reachable for questions and feedback:</p>
      <input type="radio" name="reachable" value="yes">Yes<br>
      <input type="radio" name="reachable" value="sometimes">Sometimes, but not enouch<br>
      <input type="radio" name="reachable" value="no">No<br>

      <p>If I am to succeed in this course, I will need to do MORE of:</p>
      <input type="text"><br>

      <p>If I am to succeed in this course, I will need to do LESS of:</p>
      <input type="text"><br>

      <p>If I am to succeed in this course, I will need to do the SAME amount of:</p>
      <input type="text"><br>

      <p>If I am to succeed in this course, the professor will need to do MORE of:</p>
      <input type="text"><br>

      <p>If I am to succeed in this course, the professor will need to do LESS of:</p>
      <input type="text"><br>

      <p>If I am to succeed in this course, the professor will need to do the SAME amout of:</p>
      <input type="text"><br>

      <p>Any additional comments about this course</p>
      <input type="text"><br>
    </form> -->

<!--     <footer>
      <p>OpenEval | Georgia Tech Junior Design | Fall 2018</p>
    </footer> -->

  </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script type="text/javascript" src="../js/active-surveys.js"></script>

</body>

</html>